body {
    font-family: sans-serif;
}

.color-container {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 5rem;
}

.form-group {
    padding: 1rem;
}

label {
    display: block;
    text-align: center;
}
